<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration 核心配置文件-->
<configuration>
    <settings>
        <!--<setting name="logImpl" value="LOG4J"/>-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!-- 环境  environments 可以配置多套环境  default 默认选择哪一套环境-->
    <environments default="development">
        <environment id="development">
            <!--transactionManager 事务管理-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/mybatis?useSSL=true&amp;useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="jhs123"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="org\jsen\dao\UserMapper.xml"/>
    </mappers>
</configuration>