<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<configuration>

    <!--引入外部配置文件 -->
    <properties resource="db.properties">
        <!--优先级比较低 先查看db.properties ,db.properties里面有就不使用下面的配置  没有则使用下面的配置-->
        <property name="username" value="root"/>
        <property name="password" value="jhs123"/>
    </properties>

    <!--添加别名-方法一 优化代码-->
<!--        <typeAliases>-->
<!--            <typeAlias alias="user" type="org.jsen.pojo.User"></typeAlias>-->
<!--        </typeAliases>-->

    <!--添加别名-方法二 对 org.jsen.pojo 包下的所有实体类 都起了别名 默认别名 是类的首字母小写-->
    <typeAliases>
        <package name="org.jsen.pojo"/>
    </typeAliases>


    <!-- 环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 方式1 使用相对于类路径的资源引用 -->
<!--        <mapper resource="org\jsen\dao\UserMapper.xml"/>-->

        <!-- 方式2 使用映射器接口实现类的完全限定类名 -->
<!--        <mapper class="org.jsen.dao.UserMapper"/>-->

        <!-- 方式3 将包内的映射器接口实现全部注册为映射器 -->
        <package name="org.jsen.dao"/>
    </mappers>
</configuration>