<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的mapper接口-->
<mapper namespace="org.jsen.dao.UserMapper">
    <!--结果映射-->
    <resultMap id="User" type="user">
        <result column="pwd" property="password"></result>
    </resultMap>

    <!--   id 对应接口中的方法-->
    <select id="selectUser" resultMap="User">
                select * from user
    </select>

    <select id="getUsetByLimit" parameterType="map" resultMap="User">
    select * from user limit #{start}, #{end};
    </select>

</mapper>